/com.genuitec.eclipse.j2eedt.ui.prefs
/com.genuitec.eclipse.migration.prefs
/org.eclipse.buildship.core.prefs
/org.eclipse.wst.common.project.facet.core.prefs.xml
/org.springframework.ide.eclipse.core.prefs
